body{
	font-family: 'Roboto', sans-serif;
	background-color:#e5e5e5;
}
h1{
	font-size:22px;
	text-align:center;
	font-weight:400;
}
h2{
	font-size:22px;
	text-align:center;
	color:white;
	font-weight:400;
}
h4{
	font-size:22px;
	text-align:center;
}
h5{
	font-weight:400;
	color:white;
}
.hImage{
	width:10%;
}
.two{
	margin-top:1em;
	background-color:#21252b;
}
.bg{
	background-color:#21252b;

}
#headerSubmit{
	background-image:url("../images/header2.png");
	background-repeat: no-repeat;
	padding-top:100px;
	padding-bottom:100px;
}
.mycontainer{
	margin-top:1em;
}
.mycard{
	background-color:white;
	border-radius:8px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
	
}
.mycard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.nctlogo{
	width:12%;
	float:left;
	margin-top:5px;
	margin-left:5px;
	margin-right:5px;
}
.nctmap{
	width:100%;
	float:left;
	margin-left:4px;
	margin-right:4px;
	margin-top:6px;
	
}
.primaryTitle{
	font-size:22px;
	font-weight:500;
	margin-bottom:0px;
	padding-bottom:0px;
}
.secondaryTitle{
	color:#a3a3a3;
	font-size:18px;
	font-weight:300;
}
.cardimage{
	width:100%;
}
.details{
	margin-top:8px;
	font-size:16px;
	font-weight:400;
	color:#a3a3a3;
}
.link{
	font-size:18px;
	font-weight:700;
	color:#721af0;
}
.mycardcontent{
	margin-left:14px;
	padding-top:5px;
}
.info{
	margin-top:2em;
}
.info2{
	background-color:white;
	margin-top:2em;
	margin-bottom:2em;
}
.open{
	margin-top:2em;
}
.con{
	font-weight:300;
	font-size:20px;
}
.con2{
	font-weight:300;
	font-size:16px;
	text-align:center;
}
.four{
	background-color:#21252b;
}
.footerCol{
	padding-top:2em;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}
footer li a{
	color:white;
	font-weight:300;
}

@media (min-width: 576px) {
.hImage{
	width:5%;
}
#headerSubmit{
	background-image:url("../images/header.png");
}
	}