body{
	font-family: 'Roboto', sans-serif;
	background-color:#e5e5e5;
}
.one{
	background-color:#21252b;
}
.two{
	background-color:#21252b;
}
.tone{
	background-color:#21252b;
}
.hImage{
	width:10%;
}
@media (min-width: 576px) {
.hImage{
	width:5%;
}